Repository isdi-coders-2023/GatosGuerreros-202309-bcn: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --max-warnings=0, npx eslint

Add MovieCard.tsx
  src/components/MovieCard/MovieCard.tsx
Due: eslint --max-warnings=0, npx eslint

Change MovieStructure type by MovieStructureFiltered type
  src/components/MoviesList/MoviesList.tsx
  src/features/movies/store/MoviesProviderWrapper.tsx
  src/features/movies/store/types.ts
Due: prettier --write, eslint --max-warnings=0, npx eslint

Add rename mainTheme to camelCase
  src/styles/mainTheme.ts
Due: prettier --write, eslint --max-warnings=0, npx eslint

Add mainTheme rename to main import
  src/main.tsx
Due: eslint --max-warnings=0, npx eslint

Add MovieCardStyled.ts
  src/components/MovieCard/MovieCard.tsx
  src/components/MovieCard/MovieCardStyled.ts
Due: prettier --write, eslint --max-warnings=0, npx eslint

Refactor typography declarations to be strings
  src/styles/mainTheme.ts
Due: prettier --write, eslint --max-warnings=0, npx eslint

Fix formatting for h1, h2, h3
  src/styles/GlobalStyle.tsx
Due: eslint --max-warnings=0, npx eslint

Add font imports to main.tsx
  src/main.tsx
Due: eslint --max-warnings=0, npx eslint

Add font family from mainTheme to body element in GlobalStyles
  src/styles/GlobalStyle.tsx
Due: eslint --max-warnings=0, npx eslint

Remove unecessary whitespaces
  src/styles/GlobalStyle.tsx
Due: eslint --max-warnings=0, npx eslint

Add loadItems and MovieList in HomePage
  src/components/App/App.tsx
  src/features/movies/store/MoviesProviderWrapper.tsx
  src/pages/HomePage.tsx
Due: eslint --max-warnings=0, npx eslint

Fix HomePage.test.tsx
  src/pages/HomePage.test.tsx
Due: eslint --max-warnings=0, npx eslint

Add cardButton color to mainTheme
  src/styles/mainTheme.ts
  src/styles/styled.d.ts
Due: prettier --write, eslint --max-warnings=0, npx eslint

Add Button component, tests
  src/components/Button/Button.test.tsx
  src/components/Button/Button.tsx
Due: eslint --max-warnings=0, npx eslint

Add styles for Button component
  src/components/Button/ButtonStyled.ts
Due: prettier --write, eslint --max-warnings=0, npx eslint

Add Header component to App component
  src/components/App/App.tsx
Due: eslint --max-warnings=0, npx eslint

Add Navigation component to Header
  src/components/Header/Header.tsx
  src/components/Header/HeaderStyled.ts
Due: prettier --write, eslint --max-warnings=0, npx eslint

Add NavLink to Navigation
  src/components/Navigation/Navigation.tsx
  src/components/Navigation/NavigationStyled.ts
Due: prettier --write, eslint --max-warnings=0, npx eslint

Fix hero image and scroll down symbol in HomePage
  package.json
  public/images/hero_picture.webp
  public/images/homepage-hero.webp
  public/images/icons/scroll-down-symbol.svg
  src/pages/HomePage.tsx
Due: prettier --write, eslint --max-warnings=0, npx eslint

Add Footer component, tests
  src/components/Footer/Footer.test.tsx
  src/components/Footer/Footer.tsx
Due: eslint --max-warnings=0, npx eslint

Add icon files for footer
  public/images/icons/facebook-logo.svg
  public/images/icons/instagram-logo.svg
  public/images/icons/x-logo.svg
Due: none

Add styles for Footer
  src/components/Footer/FooterStyled.ts
Due: prettier --write, eslint --max-warnings=0, npx eslint

Refactor test to use testing-library userEvent instead of fireEvent
  package-lock.json
  package.json
  src/components/Button/Button.test.tsx
Due: prettier --write, eslint --max-warnings=0, npx eslint

Fix duplicate styles for --inverted button
  src/components/Button/ButtonStyled.ts
Due: prettier --write, eslint --max-warnings=0, npx eslint

Add styles to cards
  src/components/MovieCard/MovieCardStyled.ts
  src/components/MoviesList/MoviesListStyled.ts
  src/pages/HomePage.tsx
Due: prettier --write, eslint --max-warnings=0, npx eslint

Add MovieCard.test.tsx
  src/components/MovieCard/MovieCard.test.tsx
Due: eslint --max-warnings=0, npx eslint

Add workflow for testing
  .github/workflows/testing.yml
Due: none

Add active color and classes to Bem renamed
  src/components/Navigation/Navigation.tsx
  src/components/Navigation/NavigationStyled.ts
Due: prettier --write, eslint --max-warnings=0, npx eslint

Add useLocation and NavLink to navigation
  src/components/App/App.tsx
  src/components/Header/Header.tsx
  src/components/Navigation/Navigation.tsx
Due: eslint --max-warnings=0, npx eslint

Fix redundant fragment in App
  src/components/App/App.tsx
Due: eslint --max-warnings=0, npx eslint

Add robots.txt
  public/robots.txt
Due: none

Add space between elements in header
  src/components/Header/HeaderStyled.ts
  src/components/Navigation/Navigation.tsx
  src/components/Navigation/NavigationStyled.ts
  src/styles/GlobalStyle.tsx
Due: prettier --write, eslint --max-warnings=0, npx eslint

Add gif for loading screen
  public/images/totoro-hula-hoop.gif
Due: none

Add LoadingScreen, tests
  src/components/LoadingScreen/LoadingScreen.test.tsx
  src/components/LoadingScreen/LoadingScreen.tsx
Due: eslint --max-warnings=0, npx eslint

Add styles to LoadingScreen
  src/components/LoadingScreen/LoadingScreenStyled.ts
Due: prettier --write, eslint --max-warnings=0, npx eslint

Add delete button to cards
  src/components/MovieCard/MovieCard.tsx
Due: eslint --max-warnings=0, npx eslint

Fix styles of cards and delete button
  package-lock.json
  src/components/Button/ButtonStyled.ts
  src/components/MovieCard/MovieCardStyled.ts
Due: prettier --write, eslint --max-warnings=0, npx eslint

Add static loading image for 'prefers-reduced-motion'
  public/images/loading-image-no-animations.png
Due: none

Add rules to replace animated gifs with static images for accessibility
  src/components/LoadingScreen/LoadingScreenStyled.ts
Due: prettier --write, eslint --max-warnings=0, npx eslint

Remove outdated test
  index.html
  src/components/Navigation/Navigation.test.tsx
Due: eslint --max-warnings=0, npx eslint

Path conditions:
  prettier --write: any of: *.{ts,js,css,json,md}
  eslint --max-warnings=0: any of: *.{ts,tsx}
  npx eslint: any of: *.{ts,tsx}
