Repository isdi-coders-2023/GatosGuerreros-202309-bcn: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --max-warnings=0, npx eslint

Add styles to HomePage
  package-lock.json
  src/pages/HomePage.test.tsx
  src/pages/HomePage.tsx
  src/pages/HomePageStyled.tsx
Due: prettier --write, eslint --max-warnings=0, npx eslint

Removed unecessary async and await from tests
  src/components/Navigation/Navigation.test.tsx
Due: eslint --max-warnings=0, npx eslint

Fix HomePage images & styles
  public/images/homepage-hero.webp
  public/images/icons/scroll-down-symbol.svg
  public/images/icons/scroll-down-symbol.webp
  src/pages/HomePage.tsx
  src/pages/HomePageStyled.tsx
Due: eslint --max-warnings=0, npx eslint

Add custon api hook
  src/components/App/App.tsx
  src/hooks/useMoviesApi.ts
Due: prettier --write, eslint --max-warnings=0, npx eslint

Install MSW & add handlers
  src/components/MovieCard/MovieCard.tsx
  src/mocks/handlers.ts
  src/mocks/main.ts
  src/setupTests.ts
Due: prettier --write, eslint --max-warnings=0, npx eslint

Add useMoviesApi test
  .github/workflows/build.yml
  .github/workflows/testing.yml
  src/hooks/useMoviesApi.test.tsx
  src/hooks/useMoviesApi.ts
Due: prettier --write, eslint --max-warnings=0, npx eslint

Add UiContext
  src/features/ui/store/UiContext.ts
  src/features/ui/store/UiContextWrapper.tsx
  src/features/ui/store/types.ts
Due: prettier --write, eslint --max-warnings=0, npx eslint

Load movies in HomePage
  src/hooks/useMoviesApi.ts
  src/pages/HomePage.tsx
Due: prettier --write, eslint --max-warnings=0, npx eslint

Fix card footer
  src/components/MovieCard/MovieCardStyled.ts
Due: prettier --write, eslint --max-warnings=0, npx eslint

Fix NavigationStyles Bem refactor and duplicated react-router-dom
  src/components/Navigation/Navigation.tsx
  src/components/Navigation/NavigationStyled.ts
Due: prettier --write, eslint --max-warnings=0, npx eslint

Add footer to App
  src/components/App/App.tsx
  src/components/MoviesList/MoviesListStyled.ts
Due: prettier --write, eslint --max-warnings=0, npx eslint

Add test for useMoviesApi()
  src/hooks/useMoviesApi.test.tsx
Due: eslint --max-warnings=0, npx eslint

Add removeMovie function to context and link with delete button
  src/components/Button/Button.tsx
  src/components/MovieCard/MovieCard.tsx
  src/components/MoviesList/MoviesList.tsx
  src/features/movies/store/MoviesProviderWrapper.tsx
  src/features/movies/store/types.ts
Due: prettier --write, eslint --max-warnings=0, npx eslint

Add useLoading hooks
  src/hooks/useLoading.ts
Due: prettier --write, eslint --max-warnings=0, npx eslint

Add implementation for loading screen
  src/hooks/useMoviesApi.test.tsx
  src/hooks/useMoviesApi.ts
  src/main.tsx
  src/pages/HomePage.tsx
Due: prettier --write, eslint --max-warnings=0, npx eslint

Add uiContext to customRender
  src/utils/customRender.tsx
Due: eslint --max-warnings=0, npx eslint

Add removeMovieFromApi and restructure remove functions
  src/components/MovieCard/MovieCard.tsx
  src/features/movies/store/MoviesProviderWrapper.tsx
  src/hooks/useMoviesApi.ts
Due: prettier --write, eslint --max-warnings=0, npx eslint

Refactor namings of media files
  public/images/homepageHero.webp
  public/images/icons/addActiveIcon.svg
  public/images/icons/addIcon.svg
  public/images/icons/facebookLogo.svg
  public/images/icons/homeActiveIcon.svg
  public/images/icons/homeIcon.svg
  public/images/icons/instagramLogo.svg
  public/images/icons/scrollDownSymbol.webp
  public/images/icons/xLogo.svg
  public/images/loadingImageNoAnimations.png
  public/images/totoro-hula-hoop.gif
  public/images/totoroHulaHoop.webm
Due: none

Refactor LoadingScreen media to serve webm instead of gif, tests
  src/components/LoadingScreen/LoadingScreen.test.tsx
  src/components/LoadingScreen/LoadingScreen.tsx
Due: eslint --max-warnings=0, npx eslint

Refactor namings of media files to work with new namings
  src/components/Footer/Footer.tsx
  src/components/Navigation/Navigation.tsx
  src/pages/HomePage.tsx
Due: eslint --max-warnings=0, npx eslint

Add NotFoundPage to App
  src/components/App/App.tsx
  src/mocks/node.ts
  src/pages/HomePage/HomePage.test.tsx
  src/pages/HomePage/HomePage.tsx
  src/pages/HomePage/HomePageStyled.tsx
  src/pages/NotFoundPage/NotFoundPage.tsx
  src/setupTests.ts
Due: prettier --write, eslint --max-warnings=0, npx eslint

Fix redundant variables in MovieCard and MovieList
  src/components/MovieCard/MovieCard.test.tsx
  src/components/MovieCard/MovieCard.tsx
  src/components/MoviesList/MoviesList.test.tsx
  src/components/MoviesList/MoviesList.tsx
Due: eslint --max-warnings=0, npx eslint

Add NotFoundPage with styles
  src/pages/HomePage/HomePageStyled.tsx
  src/pages/NotFoundPage/NotFoundPage.tsx
  src/pages/NotFoundPage/NotFoundPageStyled.tsx
  src/styles/mainTheme.ts
  src/styles/styled.d.ts
Due: prettier --write, eslint --max-warnings=0, npx eslint

Add width height icons
  src/components/Footer/Footer.tsx
  src/components/Navigation/Navigation.tsx
  src/main.tsx
Due: eslint --max-warnings=0, npx eslint

Fix children type to JSX.Element
  src/utils/customRender.tsx
Due: eslint --max-warnings=0, npx eslint

Add button test for MoviesList
  src/components/MoviesList/MoviesList.test.tsx
Due: eslint --max-warnings=0, npx eslint

Add bugfix children typed in customRender
  src/utils/customRender.tsx
Due: eslint --max-warnings=0, npx eslint

Fix test for MoviesList
  src/components/MoviesList/MoviesList.test.tsx
Due: eslint --max-warnings=0, npx eslint

Fix tests for MovieCard
  src/mocks/handlers.ts
Due: prettier --write, eslint --max-warnings=0, npx eslint

Fix App to use StyledApp
  src/components/App/App.tsx
Due: eslint --max-warnings=0, npx eslint

Add NotFoundPage test
  src/pages/NotFoundPage/NotFoundPageTest.tsx
Due: eslint --max-warnings=0, npx eslint

Add AppStyled
  src/components/App/AppStyled.ts
Due: prettier --write, eslint --max-warnings=0, npx eslint

Fix broken imports
  src/components/Button/ButtonStyled.ts
  src/components/MoviesList/MoviesList.test.tsx
  src/pages/HomePage/HomePage.tsx
Due: prettier --write, eslint --max-warnings=0, npx eslint

Revert "Feature/not found page"
  src/components/App/App.tsx
  src/components/Button/ButtonStyled.ts
  src/components/MoviesList/MoviesList.test.tsx
  src/mocks/main.ts
  src/pages/HomePage.test.tsx
  src/pages/HomePage.tsx
  src/pages/HomePageStyled.tsx
  src/pages/NotFoundPage/NotFoundPage.tsx
  src/pages/NotFoundPage/NotFoundPageStyled.tsx
  src/pages/NotFoundPage/NotFoundPageTest.tsx
  src/setupTests.ts
  src/styles/mainTheme.ts
  src/styles/styled.d.ts
Due: prettier --write, eslint --max-warnings=0, npx eslint

Revert "Feature/delete functionality"
  src/components/App/App.tsx
  src/components/App/AppStyled.ts
  src/components/Button/Button.tsx
  src/components/MovieCard/MovieCard.test.tsx
  src/components/MovieCard/MovieCard.tsx
  src/components/MoviesList/MoviesList.test.tsx
  src/components/MoviesList/MoviesList.tsx
  src/features/movies/store/MoviesProviderWrapper.tsx
  src/features/movies/store/types.ts
  src/hooks/useMoviesApi.ts
  src/mocks/handlers.ts
Due: prettier --write, eslint --max-warnings=0, npx eslint

Path conditions:
  prettier --write: any of: *.{ts,js,css,json,md}
  eslint --max-warnings=0: any of: *.{ts,tsx}
  npx eslint: any of: *.{ts,tsx}
