Repository isdi-coders-2023/GatosGuerreros-202309-bcn: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --max-warnings=0, npx eslint

Add build.yml and sonar-project.properties
  .github/workflows/build.yml
  sonar-project.properties
Due: none

Add App.tsx
  src/components/App/App.tsx
  src/main.tsx
Due: eslint --max-warnings=0, npx eslint

Add global resets
  package-lock.json
  package.json
  src/styles/GlobalStyle.tsx
Due: prettier --write, eslint --max-warnings=0, npx eslint

Add DefaultTheme types
  src/styles/GlobalStyle.tsx
  src/styles/styled.d.ts
Due: prettier --write, eslint --max-warnings=0, npx eslint

Add metadescription and favicon.ico
  index.html
  public/favicon.ico
  public/vite.svg
Due: none

Add MainTheme
  index.html
  src/main.tsx
  src/styles/GlobalStyle.tsx
  src/styles/MainTheme.ts
  src/styles/styled.d.ts
Due: prettier --write, eslint --max-warnings=0, npx eslint

Add router with first route in App
  package-lock.json
  package.json
  src/components/App/App.tsx
  src/main.tsx
Due: prettier --write, eslint --max-warnings=0, npx eslint

Fix router conflicts
  package-lock.json
  public/vite.svg
  src/main.tsx
Due: prettier --write, eslint --max-warnings=0, npx eslint

Add config for testing with testing-library
  src/setupTests.ts
Due: prettier --write, eslint --max-warnings=0, npx eslint

Add header & test
  src/components/Header/Header.test.tsx
  src/components/Header/Header.tsx
Due: eslint --max-warnings=0, npx eslint

Add coverage to Sonar workflow
  .github/workflows/build.yml
  package-lock.json
Due: prettier --write

Add script for sonar coverage
  package-lock.json
  package.json
Due: prettier --write

Create HomePage and add to App
  src/components/App/App.tsx
  src/pages/HomePage.tsx
Due: eslint --max-warnings=0, npx eslint

Fix huskyes executable command
  .husky/commit-msg
  .husky/post-merge
  .husky/pre-commit
  .husky/pre-push
Due: none

Add MovieContext.ts
  src/features/movies/store/MoviesContext.ts
Due: prettier --write, eslint --max-warnings=0, npx eslint

Add types.ts to movie context
  src/features/movies/store/types.ts
Due: prettier --write, eslint --max-warnings=0, npx eslint

Add MoviesProviderWrapper and loadMovies function
  src/features/movies/store/MoviesProviderWrapper.tsx
  src/features/movies/store/types.ts
  src/main.tsx
Due: prettier --write, eslint --max-warnings=0, npx eslint

Add hero image to HomePage
  public/images/hero_picture.webp
  src/pages/HomePage.tsx
Due: eslint --max-warnings=0, npx eslint

Add MovieList.tsx
  src/components/App/App.tsx
  src/components/MoviesList/MoviesList.tsx
  src/features/movies/store/types.ts
Due: prettier --write, eslint --max-warnings=0, npx eslint

Add MoviesListStyled
  src/components/MoviesList/MoviesList.tsx
  src/components/MoviesList/MoviesListStyled.ts
Due: prettier --write, eslint --max-warnings=0, npx eslint

Fix image & favicon path
  index.html
  src/pages/HomePage.tsx
Due: eslint --max-warnings=0, npx eslint

Add dependencies for header tests
  .eslintrc.cjs
  package-lock.json
  package.json
  src/setupTests.ts
  src/tests/test-utils.tsx
  vite.config.ts
Due: prettier --write, eslint --max-warnings=0, npx eslint

Add header, tests
  src/components/Header/Header.test.tsx
  src/components/Header/Header.tsx
  src/components/Header/HeaderStyled.ts
Due: prettier --write, eslint --max-warnings=0, npx eslint

Fix fonts assignment in MainTheme
  src/styles/MainTheme.ts
Due: prettier --write, eslint --max-warnings=0, npx eslint

Add coverage flag to test:dev script
  package-lock.json
  package.json
Due: prettier --write

Test HomePage
  package.json
  src/pages/HomePage.test.tsx
  src/pages/HomePage.tsx
Due: prettier --write, eslint --max-warnings=0, npx eslint

Add test:coverage script for SonarCloud build job
  package.json
Due: prettier --write

Add navigation bar
  package-lock.json
  package.json
  public/images/icons/add-active-icon.svg
  public/images/icons/add-icon.svg
  public/images/icons/home-active-icon.svg
  public/images/icons/home-icon.svg
  sonar-project.properties
  src/components/App/App.tsx
  src/components/Navigation/Navigation.tsx
  src/components/Navigation/NavigationStyled.ts
Due: prettier --write, eslint --max-warnings=0, npx eslint

Add props into navigation bar
  src/components/App/App.tsx
  src/components/Navigation/Navigation.tsx
  src/components/Navigation/NavigationStyled.ts
Due: prettier --write, eslint --max-warnings=0, npx eslint

Fix error 404
  index.html
Due: none

Rename customRender file and folder
  src/components/Header/Header.test.tsx
  src/utils/customRender.tsx
  vite.config.ts
Due: prettier --write, eslint --max-warnings=0, npx eslint

Add _redirect file to solve 404 error
  public/_redirects
Due: none

Add icon text into anchor and restyle
  src/components/Navigation/Navigation.tsx
  src/components/Navigation/NavigationStyled.ts
Due: prettier --write, eslint --max-warnings=0, npx eslint

Add MoviesList.test.tsx
  package.json
  src/components/App/App.tsx
  src/components/MoviesList/MoviesList.test.tsx
  src/components/MoviesList/MoviesList.tsx
  src/features/movies/store/MoviesProviderWrapper.tsx
Due: prettier --write, eslint --max-warnings=0, npx eslint

Fix inverted order in ternary for icon alt text
  src/components/Navigation/Navigation.tsx
Due: eslint --max-warnings=0, npx eslint

Add tests for NavigationBar
  src/components/Navigation/Navigation.test.tsx
Due: eslint --max-warnings=0, npx eslint

Add MovieProviderWrapper and BrouserProvider to customRender
  src/utils/customRender.tsx
Due: eslint --max-warnings=0, npx eslint

Add FilteredMovieStructure to types
  src/features/movies/store/types.ts
  src/features/movies/types.ts
Due: prettier --write, eslint --max-warnings=0, npx eslint

Add App test
  src/components/App/App.test.tsx
  src/components/App/App.tsx
Due: eslint --max-warnings=0, npx eslint

Path conditions:
  prettier --write: any of: *.{ts,js,css,json,md}
  eslint --max-warnings=0: any of: *.{ts,tsx}
  npx eslint: any of: *.{ts,tsx}
